@import url(./_active/error-notification_active.css);

.error-notification {
  max-width: 300px;
  font-size: 14px;
  background-color: #FFF;
  padding: 25px 15px;
  position: absolute;
  top: 20px;
  right: -350px;
  border-radius: 5px;
  transition: right 0.7s ease-out 0.2s;
  cursor: pointer;
  z-index: 100;
}